@media only screen and (min-width: 640px){

    main {
        max-width: 640px;
    }

    nav ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    nav ul#menu li {
        display: block;
        padding: 10px;
    }

    nav ul li#menu-toggle {
        display: none;
    }

    footer {
        max-width: 690px;
    }

}