@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Yeon+Sung&display=swap');

header {
    background-color: rgb(53, 127, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    padding-top: 15px;
}

nav {
    background-color: rgb(41, 98, 172);
}

nav li {
    text-align: center;
    list-style-type: none;
    padding: 4px;
    font-size: 1.2em;
}

ul#menu li{
    display: none;
}

ul#menu.expanded li {
    display: block;
}

nav li#menu-toggle {
    display: block;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li.current-page a {
    color: rgb(255, 253, 161);
}

nav ul {
    margin: 0;
    padding: 0;
}

main {
    max-width: 420px;
    margin: auto;
    width: 100%;
}

.content {
    background-color: darkgray;   
    padding: 20px;
    border: 2px dotted gray;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(53, 127, 224);
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 15px;
    max-width: 470px;
    margin: auto;
}

h2 {
    text-align: center;
}

.header-content {
    text-align: center;
    color: white;
}

#tagline {
    font-style: italic;
}

h1 {
    margin: 0px;
    font-family: 'Yeon Sung', cursive;
}

body {
    font-family: 'Titillium Web', sans-serif;
}