@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Yeon+Sung&display=swap');

header {
    background-color: rgb(53, 127, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert {
    text-align: center;
    background-color: yellow;
    padding: 15px;
}

#alert p {
    margin: 0;
}

header img {
    padding-top: 15px;
}

nav {
    background-color: rgb(41, 98, 172);
}

nav li {
    text-align: center;
    list-style-type: none;
    padding: 4px;
    font-size: 1.2em;
}

ul#menu li{
    display: none;
}

ul#menu.expanded li {
    display: block;
}

nav li#menu-toggle {
    display: block;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

nav li.current-page a {
    color: rgb(255, 253, 161);
}

nav ul {
    margin: 0;
    padding: 0;
}

main {
    max-width: 420px;
    margin: auto;
    width: 100%;
}

.content {
    background-color: darkgray;   
    padding: 20px;
    margin-bottom: 10px;
}

.content.hero {
    padding: 0;
    position: relative;
    margin-bottom: 25px;
}

.content.hero .weather-summary h3 {
    margin: 0 0 10px 0;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    color: white;
    padding: 10px;
}

th {
    background-color: rgb(41, 98, 172);
}

td {
    background-color: rgb(53, 127, 224);
}

.summary {
    display: flex;
    justify-content: center;
    background-color: white;
    display: none;
    flex-flow: column;
    text-align: center;
}

.summary h2 {
    margin-top: 0;
}

.content.hero .weather-summary p {
    margin: 0;
}

.weather-summary {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: darkgray;
    border: 2px solid gray;
    display: block;
    padding: 10px;
}

.content.hero picture {
    display: block;
    width: 100%;
}

.content.hero img {
    display: block;
    width: 100%;
}

footer {
    background-color: rgb(53, 127, 224);
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 15px;
    max-width: 470px;
    margin: auto;
}

.content-article img {
    width: 100%;
}

.contact img {
    display: none;
}



h2 {
    text-align: center;
}

.header-content {
    text-align: center;
    color: white;
}

#tagline {
    font-style: italic;
}

h1 {
    margin: 0px;
    font-family: 'Yeon Sung', cursive;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

form fieldset {
    margin: auto;
    border: 1px solid rgb(75, 150, 255);
    border-radius: 15px;
}

form legend {
    color: rgb(41, 98, 172);
    font-size: large;
    margin: auto;
    padding: 0 1.5em;
}

form label.label-line {
    display: block;
    width: 100%;
    padding: 0.5em;
}

form label.label-line form label.label-line select, textarea {
    display: block;
    border: solid 1px gray;
    padding: 0.5em;
    margin: auto;
    width: 85%;
}

textarea {
    padding-top: 25px;
    height: 6em;
}

.submit-button {
    border: none;
    background-color: rgb(53, 127, 224);
    color: white;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    display: block;
    justify-content: center;
}

.submit-button:hover {
    background-color: rgb(40, 96, 170);;
}