@media only screen and (min-width: 960px){

    main {
        max-width: 960px;
    }

    footer {
        max-width: 1010px;
    }

    .cards {
        flex-direction: row;
        text-align: center;
    }

    .cards article, .cards article:nth-child(even) {
        flex-direction: column;
        max-width: 300px;
    }

    .home-content p {
        margin: 5px auto;
    }

    .home-content h2 {
        margin: 5px auto;
    }

    .home-content h4 {
        margin: 5px auto;
    }

    .cards article img {
        width: 275px;
    }

    .cards article section {
        width: 90%;
    }

}