1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */
 
/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 
 
body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: /* #xxxxxx */;
}
 
h1 {
    font-size: /* x.xrem  (rem is a unit of measure) */;
    color: white;
}
 
h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
 
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}
 
header, footer, footer a {
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
}
 
header img {
    width: /*  */;
    height: auto;
    float: right;
}
 
footer {
    font-size: /* smaller */;
}